<mat-card>
    <mat-card-header>
        <mat-card-title class="mt-2"><h1>Register</h1></mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <mat-form-field class="input-full">
                <mat-label>Username</mat-label>
                <input class="input-full" matInput placeholder="Enter your username" type="text" name="userName"
                    #userName="ngModel" [(ngModel)]="user.userName" required>
                <mat-error *ngIf="userName.touched && userName.invalid">Username is required</mat-error>
            </mat-form-field>
            <mat-form-field class="input-full">
                <mat-label>Name</mat-label>
                <input class="input-full" matInput placeholder="Enter your name" type="text" name="name" #name="ngModel"
                    [(ngModel)]="user.name">
                <mat-error *ngIf="name.invalid && name.touched">Name is required</mat-error>
            </mat-form-field>
            <mat-form-field class="input-full">
                <mat-label>Last name</mat-label>
                <input class="input-full" matInput placeholder="Enter your Last name" type="text" name="lastName"
                    #lastName="ngModel" [(ngModel)]="user.lastName">
                <mat-error *ngIf="lastName.invalid && lastName.touched">Last name is required</mat-error>
            </mat-form-field>
            <mat-form-field class="input-full">
                <mat-label>Email</mat-label>
                <input class="input-full" matInput placeholder="Enter your email" type="email" name="email"
                    #email="ngModel" [(ngModel)]="user.email" required>
                <mat-error *ngIf="email.invalid && email.touched">Email is required</mat-error>
            </mat-form-field>
            <mat-form-field class="input-full">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Enter your password" #password="ngModel" name="password" type="password"
                    [(ngModel)]="user.password" (ngModelChange)="passwordStrengthValidator(password)" required>
                <mat-error *ngIf="password.invalid && password.touched && !password.model">Password is
                    required</mat-error>
                <mat-error *ngIf="!passwordValid">Password must be at least 6 characters long and contain at least one
                    digit and one uppercase letter.</mat-error>
            </mat-form-field>
            <mat-form-field class="input-full" [ngClass]="{'mt-4' : !passwordValid}">
                <mat-label>Repeat password</mat-label>
                <input matInput placeholder="Repeat password" name="repeatPassword" #repeat="ngModel" type="password"
                    [(ngModel)]="repeatPassword" (ngModelChange)="passwordMatchValidator(repeat)" required>
                <mat-error *ngIf="passwordsNotMatching">Passwords must match.</mat-error>
            </mat-form-field>
            <button class="mt-5" mat-raised-button color="primary" type="submit">Register</button>
        </form>
    </mat-card-content>
</mat-card>