<mat-card class="card" (click)="showUserDetails()">
    <div class="user-card pt-3">
        <div class="col-12 col-lg-6 text-center">
            <img [src]="user?.avatar_url" loading="lazy" class="user-avatar" [alt]="user?.login">
        </div>
        <div class="col-10 col-lg-6 text-center">
            <div class="row justify-content-center p-3">{{user?.login}}</div>
            <div class="row justify-content-center">
                <a mat-raised-button [href]="user?.html_url" target="_blank" class="github-page">Github page</a>
            </div>
        </div>
    </div>
    <mat-card-subtitle class="d-flex justify-content-end mt-3">{{user?.type}}</mat-card-subtitle>
</mat-card>