<div class="container">
    <div class="row">
        <div class="col">
            <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                <mat-card>
                    <div class="calendar-wrapper">
                        <mat-calendar #calendar [(selected)]="selectedDate">
                        </mat-calendar>
                    </div>
                </mat-card>
                <mat-card class="mt-3 mb-5">
                    <mat-card-title>
                        <mat-form-field class="todo-title input-full">
                            <mat-label>Title</mat-label>
                            <input matInput #title="ngModel" name="title" [(ngModel)]="todo.title">
                            <mat-error *ngIf="title.invalid && title.touched">Title is required</mat-error>
                        </mat-form-field>
                    </mat-card-title>

                    <mat-card-subtitle>
                        <mat-form-field class="input-full mt-3">
                            <mat-label>
                                <mat-icon matPrefix color="primary">feed</mat-icon> Description
                            </mat-label>
                            <textarea matInput placeholder="Description text" name="description" #description="ngModel"
                                [(ngModel)]="todo.description">
                            </textarea>
                        </mat-form-field>
                    </mat-card-subtitle>

                    <mat-form-field class="input-full mt-3">
                        <mat-label>
                            <mat-icon matPrefix color="primary">folder</mat-icon> Project
                        </mat-label>
                        <input matInput #project="ngModel" name="project" [(ngModel)]="todo.project"
                            placeholder="Project title">
                        <mat-error *ngIf="project.invalid && project.touched">Project is required</mat-error>
                    </mat-form-field>

                    <mat-form-field class="input-full mt-4">
                        <mat-label>
                            <mat-icon matPrefix color="primary">sell</mat-icon> Tags
                        </mat-label>
                        <mat-chip-list #tagList aria-label="Tags selection">
                            <mat-chip color="primary" selected *ngFor="let fruit of fruits" (removed)="remove(fruit)">
                                {{fruit}}
                                <button matChipRemove>
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </mat-chip>
                            <input matInput placeholder="+ Add Tags" [matChipInputFor]="tagList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                                (matChipInputTokenEnd)="add($event)">
                        </mat-chip-list>
                    </mat-form-field>

                    <mat-card-actions class="col text-center mt-5 mb-5">
                        <button mat-raised-button color="primary" class="finish" type="submit">Finish</button>
                    </mat-card-actions>
                </mat-card>

            </form>
        </div>
    </div>
</div>