<mat-toolbar color="primary" class="justify-content-end">
	<a class="navbar-brand" routerLink="/">Githubitat</a>
	<span class="spacer"></span>
	<mat-icon class="me-3">brightness_5</mat-icon>
	<mat-slide-toggle [formControl]="toggleControl" [color]="'accent'" class="me-3">
	</mat-slide-toggle>
	<mat-icon>bedtime</mat-icon>
</mat-toolbar>
<mat-sidenav-container>
	<mat-sidenav-content>
		<div class="content mat-app-background" [ngClass]="{'dark-side': isDarkSide}">
			<router-outlet #o="outlet"></router-outlet>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>