.profile-image {
    margin-top: 20px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 2px solid #ddd;
}

.following {
    display: flex;
    align-items: center;
}

.user-details-icon {
    margin-right: 5px;
}

.tab-content{
    height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
}

.fab-button{
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}