<div [@slideInAnimation]="animateState">
    <div class="container mt-3" *ngIf="user$ | async as user">
        <div class="row">
            <div class="col-lg-4 col-md-12">
                <mat-card class="mt-3">
                    <mat-card-title>
                        {{user.name}}
                    </mat-card-title>
                    <mat-card-subtitle>
                        {{user.login}}
                    </mat-card-subtitle>
                    <mat-card-content class="mt-4">
                        <img class="profile-image" [src]="user.avatar_url">
                    </mat-card-content>
                    <mat-card-actions>
                        <div class="following">
                            <mat-icon class="me-2 user-details-icon">people</mat-icon>
                            <span>{{user.followers | number}} followers</span>
                            <mat-icon class="ms-4 user-details-icon">person_add</mat-icon>
                            <span>{{user.following | number}} following</span>
                        </div>
                        <div class="mt-2 following">
                            <mat-icon class="user-details-icon">web</mat-icon>
                            <a [href]="user.blog">{{user.blog}}</a>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-lg-8 col-md-12">
                <mat-card class="mt-3">
                    <mat-tab-group>
                        <mat-tab label="Repositories">
                            <div class="tab-content">
                                <div class="col-12" *ngFor="let repo of repositories$ | async">
                                    <app-repository-card [repository]="repo"></app-repository-card>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Followers">
                            <div class="tab-content">
                                <div class="col-12" *ngFor="let follower of followers$ | async">
                                    <app-user-card [user]="follower"></app-user-card>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab label="Third"> Content 3 </mat-tab>
                    </mat-tab-group>
                </mat-card>
            </div>
            <button routerLink="/" mat-fab color="primary" class="fab-button">
                <mat-icon>home</mat-icon>
            </button>
        </div>
    </div>
</div>