.profile-image {
    margin-top: 20px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 2px solid #ddd;
}

.tab-content {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
}


.following {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.user-details-icon {
    margin-right: 5px;
}

@media (max-width: 576px) {
    .following {
        flex-direction: column;
    }

    .following>div {
        margin-bottom: 10px;
    }

    a {
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
    }

    .profile-image {
        height: 200px;
        width: 200px;
    }
}