.snackbar-success {
    background-color: green;
    color: white;
}

.snackbar-error {
    background-color: red;
    color: white;
}

.mat-simple-snackbar-action {
    color: white;
    background-color: transparent;
}

mat-card-title{
    font-size: 17px;
}

mat-card {
    margin: 5px;
}

.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
}