.repo-stats {
  display: flex;

  span {
    display: flex;
    align-items: center;
    margin-right: 24px;
  }

  mat-icon {
    margin-right: 4px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}