<div class="container">
    <div class="pt-3 d-flex col-12">
        <div class="col-12 offset-md-4 col-md-4 d-flex justify-content-center">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Search</mat-label>
                <input type="text" placeholder="Type to search..." matInput [formControl]="searchControl"
                    [matAutocomplete]="auto"
                    (keyup.enter)="search($event, autocomplete)" #autocomplete="matAutocompleteTrigger">
                <mat-icon matSuffix>search</mat-icon>
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="onSelect($event)">
                    <mat-option *ngFor="let option of searchResult$ | async" [value]="option?.login">
                        {{option.login}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-4 mt-2" *ngFor="let user of users$ | async">
            <app-user-card [user]="user"></app-user-card>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center paginator" *ngIf="pagination">
    <mat-paginator
              [length]="pagination.totalItems"
              [pageSize]="pageSize"
              [pageSizeOptions]="[10, 20, 30]"
              aria-label="Select page"
              (page)="pageChanged($event)">
</mat-paginator>
</div>