<div class="container">
    <div class="row mt-3">
        <h1>Hey Bubble,</h1>
        <h1>This is your Todo list.</h1>
    </div>
    <div class="row">
        <div class="col-6 mt-2" *ngFor="let todo of todos$ | async" (click)="onClicked(todo.id)">
            <app-todo-card [todo]="todo"></app-todo-card>
        </div>
    </div>
    <button routerLink="todo/add" mat-fab color="primary" class="mt-5" aria-label="Example icon button with a home icon">
        <mat-icon>add</mat-icon>
    </button>
</div>